.header {
    font-size: 30px;
    background-color: rebeccapurple;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
button.btn.btn-outline-primary-re {
    position: absolute;
    margin-top: -20px;
    background-color: #ff9cfa;
    margin-left: 15px;
}
button.btn.btn-outline-primary-chan {
    float: left;
    display: inline-block;
    background-color: #ff9cfa;
}